*{
    box-sizing: border-box;
}

@font-face {
    font-family: "Knewave";
    src: url("../font/Knewave-Regular.ttf");
}

@font-face {
    font-family: "Jackport";
    src: url("../font/JACKPORT REGULAR NCV.ttf");
}

body{
    margin: 0;
    height: 100%;
}
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.space-evenly {
    justify-content: space-evenly;
}

.clean-list {
    list-style: none;
}

.wrap {
    flex-wrap: wrap;
}

#app {
    height: 100%;
}


.home {
    font-family: Jackport;
    font-size: 4em;
    background-image: url('../img/home.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home h1{
    margin:0;
    text-align: center;
}


.mister-email{
    font-family: 'Cuprum', sans-serif;
    font-size: 0.8em;
    border: 3px ridge #bcbcbc;
    display: flex;
    flex-wrap: wrap;
}

.email-filter{
    margin:25px 0;
}
.space-between{
    justify-content: space-between;
}
.read-emails-container{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.modal-btn{
    position: absolute;
    right: 5px;
    margin: 2px;    
    padding: 10px;
    font-size: 1.3em;
    color: black;
    cursor: pointer;
}
.modal-btn:hover{
    transform: scale(1.1);
}

.modalBtn {
    background-color: '#7DCD85'
}
.compose-modal{
    /* z-index: 1000; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    height: 50vh;
    background:white;
   box-shadow:  0px 0px 3px 5px #2F2F2F inset;
}

/* vue transitions */
.bounce-enter-active {
    animation: bounce-in .3s;
  }
  .bounce-leave-active {
    animation: bounce-in .3s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }



/* vue transitions */
.compose-modal input[type="submit"]{
    font-family: cuprum;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 60px;
    cursor: pointer;
    background-color: #333;
}
.compose-modal input[type="submit"]:hover{
    background-color: rgb(116, 111, 111);
}
.fa-share{
    font-size: 1.3em;
    cursor: pointer;
}
.fa-share:hover{
    transform: scale(1.1);
}
form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}
form *{
    margin-bottom: 10px;
}
form div{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.compose-modal h1{
    text-align: center;
    /* position: absolute; */
    font-size: 2em;
    margin: 0;
}
.compose-modal input[type="text"]{
    /* margin: 10px 60px !important; */
    box-shadow: 0 0 1px #ccc, 0 1px 13px #ebebeb inset;
    padding: 0 10px;
    margin: 0;
}
.compose-modal input[type="text"]:hover{

}
.email-preview i{
    z-index: 1;
}
.check-box-select-container{
    padding: 0 15% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.check-box-select-container select{
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;    
}
.email-compose {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,0.2);
}
.email-status{
    width: 100vw;
    height: 6vh;
    background-color: #333;
}
template{
    display: flex;
    flex-direction: column;
}
progress{
    width: 100%;
}
.email-list{
    width: 30%;
    /* background-color: blue; */
    height: 90vh;
    overflow-y:auto;
    border-right: 2px ridge #bcbcbc;
}
.email-details{
    width: 70%;
    height: 90vh;
}
.delete-btn{
    position: absolute;
    right: 5px;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
}
.delete-btn:hover{
    transform: scale(1.1);
}
.fa-envelope-open,.fa-envelope{
    position:absolute;
    right: 2%;
    top: 10%;
    color: #333333;
    z-index: -1;
}
.email-preview{
    padding-top: 5px;
    position: relative;
cursor: pointer;
height: 50px;
display: flex;
flex-direction: column;
justify-content: space-between;
border-top: 1px dotted #80808091;
    /* border-bottom: 1px dotted #80808091; */
}
.email-preview:last-child{
    border-bottom: 1px dotted #80808091;
}
.progress-bar {
    background-color: #1a1a1a;
    padding: 5px 1px 1px 1px;
    margin: 9px 0;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    margin-top: 6px;   
}
.prec-value{
    position: absolute;
    left: 50%;
    bottom: 17px;
    color: white;
    font-family: monospace;
    font-size: 1.2em;
}
.progress-bar .bar  {
    position: relative;
    display: inline-block;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    height: -webkit-fill-available;
    transition: width .4s ease-in-out;
    background-color:#333;
}
  .progress-wrapper{
      width: 100%;
      background-color:gray;
      height: 5vh;
  }
.email-preview span{
    position: absolute;
    right: 2%;
    bottom: 10%;
    font-size: 0.7em;
    color: #888;
    z-index: -1;
}

.search-input-container{
    position: relative;
    margin: 2%;
}
.fa-search{
    position: absolute;
    top: 25%;
    right: 7%;
    font-size: 0.8em;
    cursor: pointer;
}
.fa-search:hover{
    color: white;
}
.compose-modal textarea{
    box-shadow:  0 0 0.1px #ccc, 0 0px 15px #ebebeb inset;
    height: 70px;
}
.email-filter input[type=text]{
    width: 95%;
    background: #fcfcfc;
    border: 1px solid #aaa;
    padding: 0 10px;
    margin: 0;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
  
.radio-buttons-container{
    display: flex;
    justify-content: center;
}
.email-list *:not(.email-filter){
    padding-left: 2%;
}



.email-details h1,.email-details h2,.email-details hr,.email-details p{
    padding-left: 20px;
    margin-top: 30px;
}
.email-details hr{
    margin-top: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.email-details h1{
    padding-top: 10px;
    font-size: 2em;
    margin:0;
}
.email-details h2{
    font-size:1em;
}
h2 span{
    color: #BDC4A7;
    padding-left: 0;
}
@media screen and (min-width: 320px) and (max-width: 850px) {
    .email-details{
        position: fixed;
        transform: translateX(100vw);
        transition: all 0.5s;
        width: 100%;
        background-color: #444;
    }
    .email-list{
        width: 100vw;
    }
    .prec-value{
        bottom: -8px;
    }
    .compose-modal{
        width: 75vw;
        height: 35vh;
    }
    .modal-btn {
        padding: 5px;
        font-size: 1em;
    }
    .fa-share{
        margin-left: 5px;
    }
    .nav-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .email-details-shown{
        z-index: 999;
        transform: translateX(0);
        transition: all 0.5s;
    }
}
/* gal */




/* gal */





/*nav-bar*/
.nav-bar{
    font-family: cuprum;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    overflow: hidden;
    background-color: #333;
}

.nav-container {
    width: 100%;
    visibility: visible;
}

.hamburger {
    display: none;
} 

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar li a:hover {
    background-color: #111;
}

/*notes card*/
.card {
    max-width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
    margin:0px 7px 7px 7px;
    background-color: rgb(194, 225, 194);
    border: 1px solid black;
    border-radius: 6px;
    border-color: transparent;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
}

.note-img {
    max-width: 100%;
}

.top-card-menu {
    width: 100%;
    align-items: center;
}


.content-card-container {
    max-width: 100%; 
}

.top-card-menu button{
    border-style: none;
    background:none;
    font-size: 1.5em
}



/*keep-app*/
.note-container {
    max-width: 40%;
}
.mister-keep {
    font-family: 'Cuprum', sans-serif;
}
.mister-keep h1 {
    font-family: Knewave;
    text-align: center;
    font-size: 2em;
}



.top-card-menu input {
    width: 20px;
}

.add-note-btn {
    border: none;
    background-color: white;
    cursor: pointer;
}

#id01 {
    border-radius: 5px;
}
.notes-menu{
    justify-content: center;
    align-items: center;
}

.notes-menu input {
    height: 32px;
    padding: 0px;
    font-family: 'Cuprum', sans-serif;
    margin-left: 10px;
}

.line{
    text-decoration: line-through;
}

.notes-list {
    margin: 0 auto;
    justify-content: center;
    max-width: 950px;
    align-items: flex-start;
    margin-top:15px;
    align-content: center;
}

/*modal*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.modalBtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modalBtn:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.todosNote button{
    cursor: pointer;
}
.upload-btn {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;

}

.addBtn button{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;

}
.update-url {
    margin: 10px 0 10px 0;
}
.img-container img{
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .hamburger {
        display: block;
    }    
    .nav-container {
        flex-direction: column;
        position: absolute;
        top:59px;
        background-color: #333;
        opacity: 0.7;
    }
    .nav-bar li {
        padding: 10px;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }
      .nav-bar {
        justify-content: flex-end;
      }
}    

.addBtn.onloadInput {
    padding: 0;
    width:20%;
}