*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.clean-list {
    list-style: none;
}

.mister-email{
    display: flex;
    /* justify-content: space-between; */
}
.email-list{
    width: 30%;
    background-color: blue;
    height: 100vh;
}
.gray{
    background-color: #333;
}
.email-preview{
cursor: pointer;
}
.email-list *:not(input){
    padding-left: 2%;
}
.email-list input{
    width: 100%;
    /* margin: 0 10%; */
}

.email-details{
    /* background-color: aqua; */
    width: 70%;
    height: 100vh;
}
.email-details *:not(span){
    padding-left: 3%;
    font-family: monospace;
    margin-top: 5%;
}
.email-details h1{
    font-size: 2em;
    margin:0;
}
.email-details h2{
    font-size:1em;
}
h2 span{
    color:lightgray;
    padding-left: 0;
}
/* gal */




/* gal */





/*nav-bar*/
.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #111;
}

/*notes card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
}

/*keep-app*/
.mister-keep h1 {
    text-align: center;
}

